@use 'src/styles/vars';

.title {
  position: fixed;
  margin-left: 100px;
  padding: vars.$gutter * 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 2em;
    font-weight: semi-bold;
  }
}

