@use 'src/styles/vars';
@use 'sass:color';


.menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 180px;
  margin-top: 80px;
  max-width: 90vw;
  min-height: 80px;
  font-weight: 3em;
  color:rgb(83, 82, 82);
  background-color: color.scale(vars.$color-grey, $lightness: 50%);
  &__link {
    display: block;
    padding: vars.$gutter / 1.5 vars.$gutter;
    cursor: pointer;
    &:hover,
    &--active {
      color: vars.$color-orange;
    }
  }
}
